<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/Css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Css/print.css" type="text/css" media="print" />

    <meta property="og:site_name" content="Aktuelles aus Nirgendheim und Umgebung" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:type" content="website" />
    {% if image %}
        <meta property="og:image" content="{{ image }}" />
    {% else %}
        <meta property="og:image" content="http://demo.gessertshausen-info.de/Img/tastatur.png" />
    {% endif %}

    <meta property="og:url" content="{{ url }}" />

</head>
